/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.contact {
	.info-box {
		color: #444444;
		padding: 20px;
		width: 100%;
		background: rgba(255, 255, 255, 0.08);
		i.bx {
			font-size: 24px;
			color: var(--color-primary);
			border-radius: 50%;
			padding: 14px;
			float: left;
			background: rgba(255, 255, 255, 0.1);
		}
		h3 {
			font-size: 20px;
			color: rgba(255, 255, 255, 0.5);
			font-weight: 700;
			margin: 10px 0 8px 68px;
		}
		p {
			padding: 0;
			color: #fff;
			line-height: 24px;
			font-size: 1rem;
			margin: 0 0 0 68px;
		}
		.social-links {
			margin: 5px 0 0 68px;
			display: flex;
			text-shadow: 2px 2px 0px black;
			right: 0;
			left: 0;
			bottom: 0;
			padding: 5px;
			a {
				font-size: 18px;
				display: inline-block;
				color: #fff;
				line-height: 1;
				margin-right: 12px;
				transition: 0.3s;
				text-shadow: 2px 2px 0px black;
				right: 0;
				left: 0;
				bottom: 0;
				padding: 5px;
				&:hover {
					color: var(--color-primary);
					text-shadow: 2px 2px 0px black;
					right: 0;
					left: 0;
					bottom: 0;
					padding: 5px;
				}
			}
		}
	}
	.php-email-form {
		padding: 30px;
		background: rgba(255, 255, 255, 0.08);
		.error-message {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			background: var(--color-primary);
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br+br {
				margin-top: 25px;
			}
		}
		.sent-message {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			background: var(--color-primary);
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid var(--color-primary);
				border-top-color: #eee;
				-webkit-animation: animate-loading 1s linear infinite;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 1rem;
			background: rgba(255, 255, 255, 0.08);
			border: 0;
			transition: 0.3s;
			color: #fff;
			padding: 10px 15px;
			&:focus {
				background-color: rgba(255, 255, 255, 0.2);
			}
			&::-webkit-input-placeholder {
				color: rgba(255, 255, 255, 0.3);
				opacity: 1;
			}
			&::-moz-placeholder {
				color: rgba(255, 255, 255, 0.3);
				opacity: 1;
			}
			&::placeholder {
				color: rgba(255, 255, 255, 0.3);
				opacity: 1;
			}
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				transition: background-color 5000s ease-in-out 0s;
				color: #fff;
				opacity: 1;
				-webkit-text-fill-color: #fff !important;
				caret-color: #fff;
			}
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 1rem;
			background: rgba(255, 255, 255, 0.08);
			border: 0;
			transition: 0.3s;
			color: #fff;
			padding: 12px 15px;
			&:focus {
				background-color: rgba(255, 255, 255, 0.2);
			}
			&::-webkit-input-placeholder {
				color: rgba(255, 255, 255, 0.3);
				opacity: 1;
			}
			&::-moz-placeholder {
				color: rgba(255, 255, 255, 0.3);
				opacity: 1;
			}
			&::placeholder {
				color: rgba(255, 255, 255, 0.3);
				opacity: 1;
			}
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				transition: background-color 5000s ease-in-out 0s;
				color: #fff;
				opacity: 1;
				-webkit-text-fill-color: #fff !important;
				caret-color: #fff;
			}
		}
		button[type="submit"] {
			background: var(--color-primary);
			border: 0;
			padding: 10px 30px;
			color: #fff;
			transition: 0.4s;
			border-radius: 4px;
			&:hover {
				background: var(--color-primary);
			}
		}
	}
}