/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Header Top */
#header {
	transition: ease-in-out 0.3s;
	position: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	z-index: 997;
	overflow-y: auto;
	* {
		transition: ease-in-out 0.4s;
	}
	h1 {
		text-shadow: 20px 20px 5px black;
		font-size: 60px;
		margin: 0;
		padding: 3;
		line-height: 1;
		font-weight: 3000;
		font-family: "Barlow", sans-serif;
		a {
			color: var(--color-primary);
			text-shadow: 2px 3px 2px black;
			line-height: 1;
			display: inline-block;
			text-decoration: none;
			&:hover {
				color: var(--color-primary);
				text-shadow: 2px 3px 2px black;
				line-height: 1;
				display: inline-block;
			}
		}
	}
	h2 {
		text-shadow: 1px 2px 1px black;
		font-size: 30px;
		margin-top: 10px;
		color: #fff;
		span {
			text-shadow: 2px 3px 5px black;
			color: #fff;
			border-bottom: 3px solid var(--color-primary);
			text-shadow: 1px 2px 1px black;
		}
	}
	img {
		text-shadow: 2px 2px 5px black;
		padding: 0;
		margin: 0;
	}
	.social-links {
		text-shadow: 1px 1px 0px black;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 1px;
		margin-top: 50px;
		display: flex;
		a {
			text-shadow: 2px 2px 3px black;
			right: 0;
			left: 0;
			bottom: 0;
			padding: 10px;
			font-size: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: var(--color-primary);
			color: white;
			line-height: 2.3rem;
			margin-right: 10px;
			border-radius: 500%;
			width: 60px;
			height: 60px;
			&:hover {
				text-shadow: 2px 2px 0px black;
				right: 0;
				left: 0;
				bottom: 0;
				padding: 5px;
				background: var(--color-secondary);
			}
		}
	}
}
#header.header-top {
	text-shadow: 2px 2px 5px black;
	height: 75px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	overflow: visible !important;
	.social-links {
		display: none;
		text-shadow: 2px 2px 0px black;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 5px;
	}
	h2 {
		display: none;
		text-shadow: 2px 2px 0px black;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 5px;
	}
	h1 {
		text-shadow: 1px 2px 1px black;
		margin-right: auto;
		font-size: 26px;
	}
	.container {
		text-shadow: 1px 2px 1px black;
		display: flex;
		align-items: center;
	}
	.navbar {
		text-shadow: 1px 2px 1px black;
		margin: 0;
	}
}
@media (max-width: 992px) {
	#header {
		h1 {
			text-shadow: 2px 5px 5px black;
			font-size: 50px;
		}
		h2 {
			font-size: 30px;
			line-height: 20px;
		}
		span {
			font-size: 30px;
			line-height: 20px;
		}
		.social-links {
			text-shadow: 10px 10px 10px black;
			margin-top: 20px;
			text-shadow: 2px 2px 0px black;
			right: 0;
			left: 0;
			bottom: 0;
			padding: 5px;
		}
		.container {
			text-shadow: 2px 2px 5px black;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
@media (max-width: 768px) {
	#header.header-top {
		text-shadow: 1px 2px 1px black;
		height: 60px;
		h1 {
			text-shadow: 1px 2px 1px black;
			font-size: 26px;
		}
	}
}
@media (max-width: 420px) {
	#header {
		span {
			font-size: 20px;
			line-height: 10px;
		}
		h2 {
			font-size: 20px;
		}
		h1 {
			a {
				text-shadow: 1px 2px 1px black;
				font-size: 38px;
				&:hover {
					text-shadow: 1px 2px 1px black;
					font-size: 38px;
				}
			}
		}
	}
}
