/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests {
	.icon-box {
		display: flex;
		align-items: center;
		padding: 20px;
		background: rgba(255, 255, 255, 0.08);
		transition: ease-in-out 0.3s;
		.icon-leaning1{
			color: blue;
			&::before{
				color: #F7DF1E;
			}
		}
		.icon-leaning2{
			&::before{
				color: #88C043;
			}
		}
		.icon-leaning3{
			&::before{
				color: #3cd6bf;
			}
		}
		.icon-leaning4{
			filter: invert(42%) sepia(99%) saturate(7065%) hue-rotate(266deg) brightness(97%) contrast(109%);
			margin-right: 13px;
			color: #9320ff;
		}
		i {
			font-size: 32px;
			padding-right: 10px;
			line-height: 1;
		}
		h3 {
			font-weight: 700;
			margin: 0;
			padding: 0;
			line-height: 1;
			font-size: 16px;
			color: #fff;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.12);
		}
	}
}
