.skiptranslate.goog-te-gadget{
    div{
      .goog-te-combo{
        height: 25px;
        border-radius: 5px;
        #text{
          display: none;
        }
      }
    }
    span{
      display: none;
    }
}