a {
	color: var(--color-primary);
	text-decoration: none;
	&:hover {
		color: var(--color-primary);
		text-decoration: none;
	}
}
h1 {
	font-family: "Raleway", sans-serif;
}
h2 {
	font-family: "Raleway", sans-serif;
}
h3 {
	font-family: "Raleway", sans-serif;
}
h4 {
	font-family: "Raleway", sans-serif;
}
h5 {
	font-family: "Raleway", sans-serif;
}
h6 {
	font-family: "Raleway", sans-serif;
}
@media (min-width: 1024px) {
	body {
		&::before {
			background-attachment: fixed;
		}
	}
}
