        body {
            font-family: "open sans", sans-serif;
            background-color: black;
            color: #fff;
            position: relative;
            background: transparent;
        }
        
        body::before {
            content: "";
            position: fixed;
            background: black url(https://user-images.githubusercontent.com/62439381/185196091-7418b1b1-92fa-4f86-b08e-f0c8bf7706dd.jpg) top right no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: cover;
            background-repeat: no-repeat;
            left: 0;
            right: 0;
            top: 0;
            height: 100vh;
            z-index: -100;
        }
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: var(--color-darkblue);
            background-image: linear-gradient(
                115deg,
                rgba(58, 58, 158, 0.8),
                rgba(136, 136, 206, 0.7)
              ),
              url(https://user-images.githubusercontent.com/62439381/185196091-7418b1b1-92fa-4f86-b08e-f0c8bf7706dd.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        
        @media (min-width: 1024px) {
            body::before {
                background-attachment: fixed;
            }
        }
        
        a {
            color: #9F221C;
            text-decoration: none;
        }
        
        a:hover {
            color: #9F221C;
            text-decoration: none;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif;
        }