        body {
            font-family: "open sans", sans-serif;
            background-color: black;
            color: #fff;
            position: relative;
            background: transparent;
        }
        
        body::before {
            content: "";
            position: fixed;
            background: black url("../img/bg.webp") top right no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: cover;
            background-repeat: no-repeat;
            left: 0;
            right: 0;
            top: 0;
            height: 100vh;
            z-index: -100;
        }
        
        @media (min-width: 1024px) {
            body::before {
                background-attachment: fixed;
            }
        }
        
        a {
            color: #9F221C;
            text-decoration: none;
        }
        
        a:hover {
            color: #9F221C;
            text-decoration: none;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Raleway", sans-serif;
        }