//----------Variaveis----------
@import "variables.scss";

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 140px;
	bottom: 100%;
	opacity: 0;
	transition: ease-in-out 0.4s;
	z-index: 2;
	.container {
		background: rgba(0, 0, 0, 0.8);
		padding: 20px;
		left: -2000;
	}
}
section.section-show {
	top: 100px;
	bottom: auto;
	opacity: 1;
	padding-bottom: 45px;
}
.section-title {
	h2 {
		font-size: 14px;
		font-weight: 500;
		padding: 0;
		line-height: 1px;
		margin: 0 0 20px 0;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #887E72;
		font-family: "Poppins", sans-serif;
		&::after {
			content: "";
			width: 120px;
			height: 1px;
			display: inline-block;
			background: #9F221C;
			margin: 4px 10px;
		}
	}
	p {
		margin: 0;
		margin: -15px 0 15px 0;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: "Poppins", sans-serif;
		color: #fff;
	}
}
@media (max-width: 768px) {
	section {
		top: 120px;
	}
	section.section-show {
		top: 80px;
	}
}
