//----------Variaveis----------
$color-primary: #09ff00 !default; // Cor principal dos detalhes
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);
$black: #000 !default;
$border-radius: 0.25rem !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;

$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

@if $dark-theme {
  $primary-color: darken($primary-color, 60%);
  $accent-color: lighten($accent-color, 60%);
}