.icon-box .icon-leaning1 {
  color: #F7DF1E;
}

.icon-box .icon-leaning2 {
  color: #F7DF1E;
}

.icon-box .icon-leaning3 {
  color: #F7DF1E;
}

.icon-box .icon-leaning4 {
  color: #F7DF1E;
}